@{
    ViewData["Title"] = "Home Page";
}
<h1>Derniers dossiers</h1>

<div>Envoyer un courrier pour le dossier suivant :</div>
<ul>
    <li><a asp-controller="Home" asp-action="Dossier" asp-route-id="20180301">20180301</a></li>
    <li><a asp-controller="Home" asp-action="Dossier" asp-route-id="20180302">20180302</a></li>
    <li><a asp-controller="Home" asp-action="Dossier" asp-route-id="20180303">20180303</a></li>
    <li><a asp-controller="Home" asp-action="Dossier" asp-route-id="20180304">20180304</a></li>
    <li><a asp-controller="Home" asp-action="Dossier" asp-route-id="20180305">20180305</a></li>
</ul>